// Pre-built input for text attributes.
mixin text_attribute(name, c, default_val)
  - var lowername = name.replace(/\W/g, '').toLowerCase();
  input.underline(type="text", name=`attr_${lowername}_${c}`, value=default_val)&attributes(attributes)

// Pre-built input for numeric attributes.
mixin num_attribute(name, c, default_val)
  - var lowername = name.replace(/\W/g, '').toLowerCase();
  input(type="number", name=`attr_${lowername}_${c}`, value=default_val)&attributes(attributes)

// Simple number inputs labelled by a span to the left of the input.
mixin span_beside_num_field(name, c)
  - var lowername = name.replace(/\W/g, '').toLowerCase();
  span
    | #{name}:&nbsp;
  input(type="number", name=`attr_${lowername}_${c}`)&attributes(attributes)

mixin label_num_field(name, c)
  div.row
    div.col.label-inline
      label.short #{name}
    div.col
      input(type="number", name=`attr_${name}_${c}`)
    block
