- var icon_path = 'https://raw.githubusercontent.com/ejrinkus/roll20-character-sheets/master/DCC_Funnels_And_Followers/assets/icons'

div.hero
  div.hero-name
    +text_attribute("Name", "name", "", false)
  div.hero-occupation
    +text_attribute("Occupation", "occupation", "", false)
  div.hero-class
    +text_attribute("Class", "class", "Peasant", false)
  div.hero-cell
  div.hero-cell(style=`background-image: url('${icon_path}/heart.png')`)
    +stat_control("HP", "hp", 0)
  div.hero-cell(style=`background-image: url('${icon_path}/shield.png')`)
    +stat_control("AC", "ac", 0)
  div.hero-cell(style=`background-image: url('${icon_path}/movement.png')`)
    +stat_control("MOV", "movement", 0)
  div.hero-cell(style=`background-image: url('${icon_path}/initiative.png')`)
    +stat_control("INI", "initiative", 0)
  div.hero-cell(style=`background-image: url('${icon_path}/strength.png')`)
    +stat_control("STR", "strength", 0)
  div.hero-cell(style=`background-image: url('${icon_path}/stamina.png')`)
    +stat_control("STA", "stamina", 0)
  div.hero-cell(style=`background-image: url('${icon_path}/agility.png')`)
    +stat_control("AGI", "agility", 0)
  div.hero-cell(style=`background-image: url('${icon_path}/personality.png')`)
    +stat_control("PER", "personality", 0)
  div.hero-cell(style=`background-image: url('${icon_path}/intelligence.png')`)
    +stat_control("INT", "intelligence", 0)
  div.hero-cell(style=`background-image: url('${icon_path}/clover.png')`)
    +stat_control("LUC", "luck", 0)
  div.hero-cell
    span.block-label HP
  div.hero-cell
    span.block-label AC
  div.hero-cell
    span.block-label MOV
  div.hero-cell
    span.block-label INI
  div.hero-cell
    span.block-label STR
  div.hero-cell
    span.block-label STA
  div.hero-cell
    span.block-label AGI
  div.hero-cell
    span.block-label PER
  div.hero-cell
    span.block-label INT
  div.hero-cell
    span.block-label LUC
