- var icon_path = 'https://raw.githubusercontent.com/ejrinkus/roll20-character-sheets/master/DCC_Funnels_And_Followers/assets/icons'

div.hero
  div.hero-name
    +text_attribute("Name", "name", "", false)
  div.hero-occupation
    +text_attribute("Occupation", "occupation", "", false)
  div.hero-class
    +text_attribute("Class", "class", "Peasant", false)
  div.hero-cell
  div.hero-cell(style=`background-image: url('${icon_path}/heart.png')`)
    | HP
  div.hero-cell(style=`background-image: url('${icon_path}/shield.png')`)
    | AC
  div.hero-cell(style=`background-image: url('${icon_path}/movement.png')`)
    | MOV
  div.hero-cell(style=`background-image: url('${icon_path}/initiative.png')`)
    | INI
  div.hero-cell(style=`background-image: url('${icon_path}/strength.png')`)
    | STR
  div.hero-cell(style=`background-image: url('${icon_path}/stamina.png')`)
    | STA
  div.hero-cell(style=`background-image: url('${icon_path}/agility.png')`)
    | AGI
  div.hero-cell(style=`background-image: url('${icon_path}/personality.png')`)
    | PER
  div.hero-cell(style=`background-image: url('${icon_path}/intelligence.png')`)
    | INT
  div.hero-cell(style=`background-image: url('${icon_path}/clover.png')`)
    | LUC