- var iconPath = 'https://raw.githubusercontent.com/ejrinkus/roll20-character-sheets/master/DCC_Funnels_And_Followers/assets/icons'

div.hero
  div.hero-name
    +text_attribute("Name", "name", "", false)
  div.hero-occupation
    +text_attribute("Occupation", "occupation", "", false)
  div.hero-class
    +text_attribute("Class", "class", "Peasant", false)
  div.hero-cell
  div.hero-stat-cell(style=`background-image: url('${iconPath}/heart.png')`)
    input.stat(type="number", name=`attr_hp`, value=0)
    input.stat-mod(type="number", name=`attr_hp-max`, value=0)
  div.hero-stat-cell(style=`background-image: url('${iconPath}/shield.png')`)
    input.stat(type="number", name=`attr_ac`, value=10)
  div.hero-stat-cell(style=`background-image: url('${iconPath}/movement.png')`)
    input.stat(type="number", name=`attr_movement`, value=30)
  div.hero-stat-cell(style=`background-image: url('${iconPath}/initiative.png')`)
    input.stat(type="number", name=`attr_initiative`, value=0)
  div.hero-stat-cell(style=`background-image: url('${iconPath}/strength.png')`)
    +stat_control("STR", "strength", 0)
  div.hero-stat-cell(style=`background-image: url('${iconPath}/stamina.png')`)
    +stat_control("STA", "stamina", 0)
  div.hero-stat-cell(style=`background-image: url('${iconPath}/agility.png')`)
    +stat_control("AGI", "agility", 0)
  div.hero-stat-cell(style=`background-image: url('${iconPath}/personality.png')`)
    +stat_control("PER", "personality", 0)
  div.hero-stat-cell(style=`background-image: url('${iconPath}/intelligence.png')`)
    +stat_control("INT", "intelligence", 0)
  div.hero-stat-cell(style=`background-image: url('${iconPath}/clover.png')`)
    +stat_control("LUC", "luck", 0)
  div.hero-label-cell
    span.block-label HP
  div.hero-label-cell
    span.block-label AC
  div.hero-label-cell
    span.block-label MOV
  div.hero-label-cell
    span.block-label INI
  div.hero-label-cell
    span.block-label STR
  div.hero-label-cell
    span.block-label STA
  div.hero-label-cell
    span.block-label AGI
  div.hero-label-cell
    span.block-label PER
  div.hero-label-cell
    span.block-label INT
  div.hero-label-cell
    span.block-label LUC
  div.wrap-hero-details
    +collapsible("Details")
      include ../hero_details/hero_details.pug