- var iconPath = 'https://raw.githubusercontent.com/ejrinkus/roll20-character-sheets/funnels-and-followers/DCC_Funnels_And_Followers/assets/icons'

div.hero
  div.hero-3-cell
    span.block-label Name
    input(type="text" name=`attr_name`, value="")
  div.hero-3-cell
    span.block-label Occupation
    input(type="text" name=`attr_occupation`, value="")
  div.hero-3-cell
    span.block-label Alignment
    select(name="attr_alignment")
      option(value="<Select an alignment>") &lt;Select an alignment&gt;
      option(value="Lawful") Lawful
      option(value="Neutral") Neutral
      option(value="Chaotic") Chaotic
  div.hero-1-cell

  div.hero-3-cell
    span.block-label Class
    select(name="attr_class")
      option(value="None") None
      option(value="Cleric") Cleric
      option(value="Thief") Thief
      option(value="Warrior") Warrior
      option(value="Wizard") Wizard
      option(value="Dwarf") Dwarf
      option(value="Elf") Elf
      option(value="Halfling") Halfling
  div.hero-3-cell
    span.block-label Title
    input(type="text" name=`attr_title` value="Peasant")
  div.hero-2-cell
    span.block-label Experience
    input(type="number" style="width:140px;" name=`attr_experience` value=0)
  div.hero-1-cell
    span.block-label Level
    input(type="number" name=`attr_level` value=0)
  div.hero-1-cell

  div.hero-stat-cell(style=`background-image: url('${iconPath}/heart.png')`)
    input.stat(type="number" name=`attr_hp` value=0)
    input.stat-mod(type="number" name=`attr_hpmax` value=0 readonly)
  div.hero-stat-cell(style=`background-image: url('${iconPath}/shield.png')`)
    input.stat.standalone(type="number" name=`attr_ac` value=10 readonly)
  div.hero-stat-cell(style=`background-image: url('${iconPath}/movement.png')`)
    input.stat.standalone(type="number" name=`attr_movement` value=30 readonly)
  div.hero-stat-cell(style=`background-image: url('${iconPath}/initiative.png')`)
    input.stat.standalone(type="number" name=`attr_initiative` value=0 readonly)

  each stat in ["strength", "stamina", "agility", "personality", "intelligence", "luck"]
    div.hero-stat-cell(style=`background-image: url('${iconPath}/${stat}.png')`)
      //- input.stat(type="number", name=`attr_${stat}`, value=0)
      input.stat.standalone(type="number", name=`attr_${stat}mod`, value=0, readonly)

  each lbl in ["HP", "AC", "MOV", "INI", "STR", "STA", "AGI", "PER", "INT", "LUC"]
    div.hero-label-cell
      span.block-label #{lbl}

  div.wrap-hero-details
    input.toggle(type="checkbox")
    span &nbsp;Details
    div.contents
      include ../hero_details/hero_details.pug