div.root
  div.tabs
    each c in ["1", "2", "3", "4"]
      button.tab(type="action", name=`act_${c}_tab`)
        input.tabtext(type="text", name=`attr_name_${c}`, value=`Character ${c}`, readonly)
  input.char-control(type="hidden", name="attr_character", value="1")
  each c in ["1", "2", "3", "4"]
    div(class=`character char-${c}`)
      div.row
        div.col
          label Name
          input(type="text", name=`attr_name_${c}`, value=`Character ${c}`)
        div.col
          label Occupation
          input(type="text", name=`attr_occupation_${c}`)
        div.col.double
          label Alignment
          div.checklines 
            input(type="hidden", name=`attr_alignment_${c}`, value="").checkline
            each pair in [["lawful", "Lawful"], ["neutral", "Neutral"], ["chaotic", "Chaotic"]]
              button(class=`checkline checkline-${pair[0]}`, type="action", name=`act_alignment_${pair[0]}_${c}`)
                span.checked
                  | X
              span
                | #{pair[1]}
      div.row
        div.col
          - const atts = ["STR", "AGI", "STA", "PER", "INT", "LUC"]
          div.att-col
            each att in atts
              label #{att}
          div.att-col
            each att in atts
              input(type="number", name=`attr_${att}_${c}`)
          div.att-col
            each att in atts
              input(type="number", name=`attr_${att}_${c}_mod`, readonly, value=0)
        div.col
          - const saves = ["HP", "MOV", "AC", "REF", "FOR", "WIL"]
          div.att-col
            each save in saves
              label #{save}
          div.att-col
            each save in saves
              input(type="number", name=`attr_${save}_${c}`)
          div.att-col(style="width:1.5em")
            label(style="display:inline-block;font-size:2em;width:0.25em") /
          div.att-col
            input(type="number", name=`attr_HP_${c}_max`)
        div.col.double
          div.row.gear
            div.col.gear-col
              label CP
              input(type="number")
            div.col.gear-col
              label SP
              input(type="number")
            div.col.gear-col
              label GP
              input(type="number")
            div.col.gear-col
              label EP
              input(type="number")
            div.col.gear-col
              label PP
              input(type="number")
          div.row.gear-row
            div.col.gear-col
              label Armor
            div.col.gear-col
              input(type="text", name=`attr_armor_${c}`)
          div.row.gear-row
            div.col.gear-col
              label Weapon
            div.col.gear-col
              input(type="text", name=`attr_weap1_${c}`)
          div.row.gear-row
            div.col.gear-col
              label Weapon
            div.col.gear-col
              input(type="text", name=`attr_weap2_${c}`)
          div.row.gear-row
            div.col.gear-col
              label Weapon
            div.col.gear-col
              input(type="text", name=`attr_weap3_${c}`)
      div.row.char-row
        label Birth Augur
        input.augur-hidden(type="hidden", name=`attr_augur_${c}`, readonly)
        input.augur(type="number", name=`attr_start_luck_${c}`)
        input.augur-desc(type="text", value="Luck modifier at Level 0", readonly)
        br
        input.augur(type="number", name=`attr_augur_${c}`)
        input.augur-desc(type="text", name=`attr_augur_desc_${c}`, readonly)
        div.if-healing.note
          | *If a cleric, applies to all healing the cleric performs.  Otherwise, applies to all magical healing received from other sources.
        div.if-crit.note
          | **Luck normally affects critical hits and fumbles.  On this result, the modifier is doubled for purposes of crits or fumbles.
      div.row.char-row
        label Notes
        textarea(name=`attr_notes_${c}`, style="resize:none;margin:0px;padding:0px")
script(type="text/worker")
  //- This file MUST be included first, as it defines constants used in the files below.
  include js/constants.js

  //- These files can be included in any order, as they only depend on constants.js.
  include js/char_tabs.js
  include js/alignment.js
  include js/mods.js
  include js/birth_augurs.js

  //- This file MUST be included last, as it uses code defined in the files above.
  include js/per_character.js