// Hidden "control" inputs to help drive sheet behavior.
input.control-char(type="hidden", name="attr_character", value="1")
input.control-survivors(type="hidden", name="attr_total_living", value="")
each c in ["1", "2", "3", "4"]
  // More hidden controls, but these need to be per-character.
  input(class=`control-dead-${c}`, type="hidden", name=`attr_dead_${c}`, value="")
  input(class=`control-alignment-${c}`, type="hidden", name=`attr_alignment_${c}`, value="false")
  input(class=`control-augur-${c}`, type="hidden", name=`attr_augur_${c}`)

// The actual sheet content.
div.root
  div.tabs
    each c in ["1", "2", "3", "4"]
      button(class=`tab tab-${c}`, type="action", name=`act_${c}_tab`)
        input.tabrank(type="text", name=`attr_rank_${c}`, value=`${c}`, readonly)
        input.tabtext(type="text", name=`attr_name_${c}`, value=`Character ${c}`, readonly)
  each c in ["1", "2", "3", "4"]
    div(class=`character char-${c}`)
      input(type="hidden", name=`attr_dead_${c}`, value="").checkline
      span(class=`dead-${c}`)
        | DEAD
      // NAME/OCCUPATION/ALIGNMENT ROW
      div.row  
        // NAME
        div.col.single
          label Name
          input(type="text", name=`attr_name_${c}`, value=`Character ${c}`)
        // OCCUPATION
        div.col.single
          label Occupation
          input(type="text", name=`attr_occupation_${c}`)
        // ALIGNMENT
        div.col.single
          label Alignment
          div.checklines 
            each pair in [["lawful", "Lawful"], ["neutral", "Neutral"], ["chaotic", "Chaotic"]]
              button(class=`checkline alignment-${pair[0]}-${c}`, type="action", name=`act_alignment_${pair[0]}_${c}`)
                span.checked
                  | X
              span
                | #{pair[1]}
        div.col.single
          label Status
          div.checklines
            span
              | Rank:&nbsp;
            input(type="number", name=`attr_rank_${c}`, value=`${c}`, style="margin-right:1em")
            button(class=`checkline checkline-dead-${c}`, type="action", name=`act_dead_${c}`)
              span.checked
                | X
            span
              | Dead?
      // MAIN BODY
      div.row
        // STATS/AUGUR COLUMN
        div.col
          // STATS ROW
          div.row
            // ATTRIBUTES
            div.col.single
              label Attributes
              each att in ["STR", "AGI", "STA", "PER", "INT", "LUC"]
                div.row
                  div.col.label-inline
                    label.short #{att}
                  div.col
                    input(type="number", name=`attr_${att}_${c}`)
                  div.col
                    input(type="number", name=`attr_${att}_${c}_mod`, style="cursor:default", readonly, value=0)
                  div.col
                    button.d20(type="roll", value=`/roll 1d20 + @{${att}_${c}_mod}`, name=`roll_${att}Trained${c}`)
                  div.col
                    button.d10(type="roll", value=`/roll 1d10 + @{${att}_${c}_mod}`, name=`roll_${att}Untrained${c}`)
            // HP/AC/MOVEMENT/SAVES
            div.col.single
              div.row
                label Attributes (cont.)
                div.col.label-inline
                  label HP
                div.col
                  input(type="number", name=`attr_HP_${c}`)
                div.col.label-inline(style="width:1em")
                  label(style="font-size:2em") /
                div.col
                  input(type="number", name=`attr_HP_${c}_max`)
              each save in ["MOV", "AC", "INI", "REF", "FOR", "WIL"]
                div.row
                  div.col.label-inline
                    label #{save}
                  div.col
                    input(type="number", name=`attr_${save}_${c}`)
                  if save != "MOV" && save != "AC" && save != "INI"
                    div.col
                      button.d20(type="roll", value=`/roll 1d20 + @{${save}_${c}}`, name=`roll_${save}Save${c}`)
                  else if save == "INI"
                    div.col
                      button.d20(type="roll", value=`/roll 1d20 + @{${save}_${c}} &{tracker}`, name=`roll_initiative${c}`)
          // BIRTH AUGUR ROW
          div.row
            div.col.double
              label Birth Augur
              input.augur(type="number", name=`attr_start_luck_${c}`)
              input.augur-desc(type="text", value="Luck modifier at Level 0", readonly)
              br
              input.augur(type="number", name=`attr_augur_${c}`)
              input.augur-desc(type="text", name=`attr_augur_desc_${c}`, readonly)
              div(class=`if-healing-${c} note`)
                | *If a cleric, applies to all healing the cleric performs.  Otherwise, applies to all magical healing received from other sources.
              div(class=`if-crit-${c} note`)
                | **Luck normally affects critical hits and fumbles.  On this result, the modifier is doubled for purposes of crits or fumbles.
        // EQUIPMENT
        div.col.double
          label Equipment
          fieldset(class=`repeating_equipment${c}`)
            input.equip-select(type="hidden", name=`attr_EquipSelect${c}`, value="")
            select.equip-type(name=`attr_EquipType${c}`)
              option &lt;select type&gt;
              option Custom
              option Armor
              option Weapon
            div.equip.custom.row
              div.col
                input(type="text", name=`attr_EquipCustom${c}`, value="Custom description")
            div.equip.armor.row
              div.col
                input.equip-name(type="text", name=`attr_EquipArmorName${c}`, value="Armor name")
              div.col.input-col
                div.row
                  div.col
                    input(type="number", name=`attr_EquipArmorClass${c}`)
                div.row
                  div.col
                    input(type="number", name=`attr_EquipArmorCheckPen${c}`)
              div.col
                div.row
                  div.col.label-inline
                    span AC
                div.row
                  div.col.label-inline
                    span check penalty
              div.col.input-col
                div.row
                  div.col
                    input(type="number", name=`attr_EquipArmorSpeedPen${c}`)
                div.row
                  div.col
                    input(type="text", name=`attr_EquipArmorFumble${c}`)
              div.col
                div.row
                  div.col.label-inline
                    span speed penalty
                div.row
                  div.col.label-inline
                    span fumble die
            div.equip.weapon.row
              div.col
                input.equip-name(type="text", name=`attr_EquipWeapName${c}`, value="Weapon name")
              div.col.input-col
                div.row
                  div.col
                    input(type="text", name=`attr_EquipWeapDmg${c}`)
                div.row
                  div.col
                    input(type="text", name=`attr_EquipWeapSneak${c}`)
              div.col
                div.row
                  div.col.label-inline
                    span damage
                div.row
                  div.col.label-inline
                    span sneak damage
              div.col.input-col
                div.row
                  div.col
                    input(type="text", name=`attr_EquipWeapRange${c}`)
              div.col
                div.row
                  div.col.label-inline
                    span range
      // NOTES/MONEY ROW
      div.row
        // NOTES
        label(style="margin:0.5em") Notes
        div.col.triple
          textarea(name=`attr_notes_${c}`)
        // MONEY
        div.col.single
          each coin in [["CP", ""], ["SP", "1sp = 10cp"], ["GP", "1gp = 10sp"], ["EP", "1ep = 10gp"], ["PP", "1pp = 10ep"]]
            div.row
              div.col.label-inline
                label.short #{coin[0]}
              div.col
                input(type="number", style="width:8em", name=`attr_${coin[0]}_${c}`)
                |  #{coin[1]}

script(type="text/worker")
  //- This file MUST be included first, as it defines constants used in the files below.
  include js/constants.js

  //- These files can be included in any order, as they only depend on constants.js.
  include js/char_tabs.js
  include js/alignment.js
  include js/dead.js
  include js/mods.js
  include js/birth_augurs.js
  include js/equipment.js

  //- This file MUST be included last, as it uses code defined in the files above.
  include js/per_character.js